@model nbaDemo.Entities.Division

<table class="table">
    <thead>
        <tr style=" text-align:center; display:flex">
            <td style="font-weight: bold">
                @Html.DisplayFor(modelItem => @Model.Name)
            </td>
        </tr>
    </thead>
</table>
