@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my NBA demo!</h1>
    <p>Here is the list of things that are available in this project:</p>
    <p style="font-weight:bold">For Everyone:</p>
    <p>- Listing all players with their corresponding positions</p>
    <p>- Listing all teams with their corresponding divisions and conferences</p>
    <p>- Viewing further details of players</p>
    <p>- Viewing further details of teams</p>
    <p>- Login and Logout</p>
    <p style="font-weight:bold">Depending on the user role:</p>
    <p>- Editing conference info</p>
    <p>- Editing team info</p>
    <p>- Editing player info</p>
    <p>- Deleting players</p>
    <p>- Deleting teams</p>
    <p>- Creating new players</p>
    <p>- Creating new teams</p>
    <p>- Selecting favorite teams and players</p>
    <p>- Removing favorite teams and players</p>
</div>
