
@{
    ViewBag.Title = "Home Page";
    Layout = "_Layout";
}

<p>I'm having a bachelor party and guess what? You're invited!!!</p>
<p>Please fill out the form linked below to let me know whether you are going to join or not.</p>
<a asp-action="Register" asp-controller="Home">Click here!</a>
