@model nbaDemo.Entities.Position

<table class="table">
    <thead>
        <tr>
            <td style="font-weight: bold">
                @Html.DisplayFor(modelItem => @Model.Name)
            </td>
        </tr>
    </thead>
</table>
